.categoryCard {
  width: 128px;

  &:first-child {
    .categoryCardImage {
      background: #fff;
    }

    .categoryCardTitle {
      h3 {
        color: #3019b2;
      }
    }
  }

  &:hover {
    .categoryCardImage {
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.22);
    }

    .categoryCardTitle {
      h3 {
        color: #3019b2;
      }
    }
  }
}

.categoryCardImage {
  border-radius: 10px;
  background: #f4f4f4;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
}

.categoryCardTitle {
  padding-top: 22px;
  text-align: center;
  h3 {
    color: #4e4e4e;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}
