.brandsCard {
  border-radius: 105.5px;
  background: #fff;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.13);
  width: 211px;
  height: 211px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
